# Port number
PORT=4000

# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/nabla-db-backup

#

# Google Login
GOOGLE_CLIENT_ID=0123456789100-abcdefghijklmnopqrstuvwxyz.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=AAAAAA-BBBBBBBBBBBBB_Dk38ZZzzZZzzZz

# Auth settings
AUTH_STRICT_MODE=true

# Server API name
API_NAME="Nabla DB Backup Server"

NABLA_DB_BACKUP_HOST=localhost
NABLA_DB_BACKUP_PORT=27017

NABLA_KEY=999999999999999999999999999999999999999


# Digital Ocean s3
SPACES_KEY="1111111111111111111111111111"
SPACES_SECRET="0000000000000000000000000000000000"
SPACES_ENDPOINT="https://nyc3.digitaloceanspaces.com/"
SPACES_REGION="us-east-1"

# OTA
SPACES_DB_BACKUP_BUCKET="my-db-backup-bucket-on-digitalocean"